/* index.css */
/* Apply to all elements */
* {
  box-sizing: border-box;
}

body {
  background-color: #111212; /* Body background color */
  color: white; /* Default text color */
  margin: 0;
  font-family: Arial, sans-serif; /* You can choose your preferred font */
  overflow: hidden;
}




